* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1 {
    color: #ddd;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: 100;
    padding: 70px;
    text-align: center;
}
